body, html {
    background-color: rgb(19, 19, 20);
    font-family: "Akbar";   
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #ffd90f;
}

#wrapper {
    min-height: 100vh;
    position: relative; 
}

.container-quote {
    padding: 50px;
    text-align: center;
}

.quote {
    color: white;
    font-size: 48px;
    margin-bottom: 48px;
    -webkit-text-stroke: 1.5px black;
}

.quote-character {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
    font-style: italic;
    -webkit-text-stroke: 1.5px black;
}

.generate-quote-btn {
    font-size: 25px;
    text-align: center;  
    margin: 0 auto; 
    background-color: transparent;
}

.container-image img {
    text-align: center;
    margin: 0 auto;
    min-height: 300px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
    margin: 0 auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
